@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$bg-grey: #f6f6f6;
$dark-grey: #353535;
$gradient-purple: linear-gradient(155deg, $secondary-color 0%, $primary-color 100%);
$max-view-width: 992px;

$logo-font: 'Shrikhand', cursive;
$body-font: 'Roboto', sans-serif;

$block-shadow: 1px 1px 10px #cbcbcb;

$mobile-padding: 0 23px;

%center-element {
  display: grid;
  place-items: center;
}

%flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin linear-gradient-bg($deg, $start-color, $end-color) {
  background: -moz-linear-gradient($deg, $start-color 0%, $end-color 100%);
  background: -ms-linear-gradient($deg, $start-color 0%, $end-color 100%);
  background: -o-linear-gradient($deg, $start-color 0%, $end-color 100%);
  background: -webkit-linear-gradient($deg, $start-color 0%, $end-color 100%);
  background: linear-gradient($deg, $start-color 0%, $end-color 100%);
}

html,
body {
  font-family: $body-font;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button,
button:focus {
  border: none;
  outline: none;
  cursor: pointer;
}

h1 {
  font-family: $logo-font;
}

p,
h3,
h4 {
  margin: 0;
}

main {
  width: 100%;
}

.main__wrapper {
  @extend %flex-centered;
  flex-direction: column;
  margin: 0 auto;
}

.body__header {
  @extend %flex-centered;
  box-shadow: $block-shadow;
  width: 100%;
  z-index: 1000;
}

/*sections */

.section__container--grey {
  background-color: $bg-grey;
}

.section__container--100 {
  width: 100%;
}
/* buttons */

.btn--purple {
  height: 48px;
  border-radius: 25px;
  color: #fff;
  background: $secondary-color;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin: 28px 0;
  box-shadow: $block-shadow;
  background: $gradient-purple;
}

.btn--medium {
  width: 178px
}

.btn--large {
  width: 218px;
}

/* likes */

.likes__container {
  position: relative;
  padding-right: 15px;
  padding-bottom: 18px;
}

.icon--liked,
.icon--empty {
  position: absolute;
  left: 0;
}

.icon--liked {
  font-size: 24px;
  top: 0;
}

.icon--empty {
  font-size: 23px;
  top: 1px;
}

.icon--liked {
  opacity: 0;
  z-index: 100;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.icon--liked:before {
  @include linear-gradient-bg(155deg, $primary-color, $secondary-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon--liked:hover {
  opacity: 1;
}

/* footer*/

.footer__wrapper {
  width: 100%;
  background-color: #353535;
}

.footer__container {
  width: 100%;
  max-width: $max-view-width;
  margin: 0 auto;
  padding: $mobile-padding;
  color: #fff;

  a {
    color: #fff;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    margin-bottom: 31px;

    li {
      margin-top: 10px;

      i {
        margin-right: 10px;
        width: 1rem;
        height: 1rem;
      }
    }
  }
}

.footer__logo {
  margin-top: 26px;
  font-size: 1.2rem;
  font-family: "Shrikhand", cursive;
}


